##  Data for testing from Yfinance
Not required if spot history exists in data folder

In [1]:
import yfinance as yf
import pandas as pd

# TTF futures ticker
ticker = "TTF=F"

# Download data
df = yf.download(
    ticker,
    start="2021-01-01",
    end="2025-12-31",
    interval="1d"
)

df.head()

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open Volume
Ticker          TTF=F      TTF=F      TTF=F      TTF=F  TTF=F
Date
2021-01-04  19.844999  20.299999  19.450001  19.450001    803
2021-01-05  18.004999  18.950001  17.924999  18.905001    510
2021-01-06  17.565001  18.520000  17.375000  17.875000    704
2021-01-07  19.305000  19.420000  18.275000  18.275000    183
2021-01-08  20.120001  20.700001  19.889999  20.400000    385

In [2]:
spot = df.reset_index()[["Date", "Close"]]
spot.columns = ["date", "spot_eur_mwh"]

spot.to_csv("sample_spot_history_ttf_real.csv", index=False)